{% extends 'flatpages/index.html' %}

{% block title %}
    Subscriptions
{% endblock title %}


{% block body %}
    <h1>Список категорий для подписки:</h1>
    {% if not user.email %}
        <h3>У вас не привязана почта для подписки!</h3>
    {% else %}
    {% for category in categories %}
        <form method="post" style="display: block; margin-top: 20px;">
            {% csrf_token %}
            <h4>{{ category.name }}</h4>
            <input type="hidden" name="category_id" value="{{ category.id }}" />
            {% if category.user_subscribed %}
                <button class="btn btn-outline-dark" disabled>Подписаться</button>
                <button class="btn btn-dark" name="action" value="unsubscribe">Отписаться</button>
            {% else %}
                <button class="btn btn-dark" name="action" value="subscribe">Подписаться</button>
                <button class="btn btn-outline-dark" disabled>Отписаться</button>
            {% endif %}
        </form>
    {% endfor %}
    {% endif %}
{% endblock body %}